<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <div class="float_block">
      <h3>Profesiju saraksts</h3>
      <draggable class="list-group" tag="ul" v-model="salaries" v-bind="dragOptions" :move="onMove" @start="isDragging=true" @end="isDragging=false">
        <transition-group type="transition" :name="'flip-list'">
          <li class="salaries_list" v-for="sal in salaries" :key="sal.job.id">{{ sal.job.title }}</li>
        </transition-group>
      </draggable>
      
    </div>

    <div class="float_block drag_to">
      <h3>Lai saņemtu izvēlēto profesiju algu sarakstu ievelc profesijas no blakus saraksta</h3>
    <draggable element="span" v-model="list2" v-bind="dragOptions" :move="onMove">
      <transition-group name="no" class="list-group" tag="ul">
        <li class="salaries_list" v-for="sal in list2" :key="sal.job.id">{{ sal.job.title }}</li>
      </transition-group>
    </draggable>
      <button v-on:click="generateJlist()">Apkopot</button>
      <pre>{{JsonList}}</pre>
    </div>



  </div>
</template>

<script>
import draggable from 'vuedraggable'
var url = 'https://api.teleport.org/api/urban_areas/slug%3Ariga/salaries/';
const eur_value = 1.126;
var numeral = require("numeral");

export default {
  name: 'HelloWorld',
  components: {
    draggable,
  },
  data: function () {
    return {
        loader:true,
        salaries:[],
        editable: true,
        isDragging: false,
        list2:[],
        JsonList:''
    }
  },
  props: {
    msg: String
  },
  computed:{
    dragOptions() {
      return {
        animation: 0,
        group: "description",
        disabled: !this.editable,
        ghostClass: "ghost"
      };
    }
  },
  mounted: function () {
    var _this = this;
    this.$http.get(url).then((response) => {
        if(response.data){
            _this.salaries = response.data.salaries;
        }else{
          alert('Problēmas ar datu ielādi! Sazinies ar lapas uzturētāju.');
        }
    })
  },
  methods: {
    onMove: function ({ relatedContext, draggedContext }) {
      const relatedElement = relatedContext.element;
      const draggedElement = draggedContext.element;
      return (
              (!relatedElement || !relatedElement.fixed) && !draggedElement.fixed
      );
    },
    generateJlist(){
      if(this.list2.length > 0){
        let salary_list = [];
        for (const key in this.list2) {
          let value = this.list2[key];
          let obj = {};
          obj['job_title'] = value.job.title;
          obj['sallary_median'] = numeral(((value.salary_percentiles.percentile_50 / 12) / eur_value)).format("0")+' EUR';
          salary_list.push(obj);
        }
        this.JsonList = JSON.stringify(salary_list, null, 2);
      }else{
        alert('Sarakstā nav ievietota neviena profesija! Ievelc profesiju no blakus saraksta un spied Izveidot algu sarakstu');
      }

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style: none;
}
li {
  text-align: left;
  cursor: move;
  padding:5px 20px;
  border: 1px solid #999;
  margin: 3px;
  border-radius: 5px;
  width: 200px;
  background: #f6f6f6;
  display: inline-block;
}
li:hover{
  background: #eaeaea;
}
a {
  color: #42b983;
}
  .float_block{
    width: 50%;
    float: left;}
  .drag_to { background: azure; min-height: 200px;}
  .list-group {min-height: 100px;}
  button { padding: 5px 20px; border-radius: 5px; cursor: pointer;}
  button:hover {  background: #eaeaea;}
  pre {text-align: left;}

</style>
